/* static/styles/app-header.css */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  padding: 0 0.3rem;
}

.app-header .header-left,
.app-header .header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 2.1rem;
  width: 2.1rem;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.2);
}
